

body {
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 30px auto;
  background-color: #4b4f56;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


input,
select {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}


button {
  width: 90%;
  padding: 10px;
  margin-top: 15px;
  background-color: #13b2d6;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #009fcc;
}


canvas {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
